# Dizinler
node_modules/
tests/
coverage/
dist/
src/
docs/
/dist/types/**
  !/dist/types/index.d.ts

# Dosyalar
.babelrc
.gitignore
.npmrc
.eslintrc
.prettierrc
jest.config.js
rollup.config.js
tsconfig.json
babel.config.js
webpack.config.js
*.log
*.tmp
*.env

# Diğer
.DS_Store
.idea/
.vscode/
